---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  const paths = pages.map((page) => ({
    params: {
      regular: page.slug,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { title, meta_title, description, image } = page.data;
const { Content } = await page.render();
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="content">
        <Content />
      </div>
    </div>
  </section>
</Base>
